.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.products-container{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    margin-left: 50px;
    gap: 36px;
}
.cart-container{
 background:  #FFE0B3;
}
@media only screen and (max-width: 679px){
    .products-container{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);

        
    }
    .shop-container{
      overflow-wrap: break-word;
    }
}